// Font Face

// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
// $pageWidth: 1000px;

// Text Selection
$selectionColor: red;

// Links
$linkColor: red;
$linkHoverColor: blue;

// Other
